/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-b-play {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 451px;
  height: 192px;
}
.icon-b-play320 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -194px;
  width: 225px;
  height: 96px;
}
.icon-checkbox-active {
  background-image: url(../img/spritesheet.png);
  background-position: -169px -292px;
  width: 35px;
  height: 35px;
}
.icon-checkbox {
  background-image: url(../img/spritesheet.png);
  background-position: -206px -292px;
  width: 35px;
  height: 35px;
}
.icon-clock {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -357px;
  width: 45px;
  height: 45px;
}
.icon-clock480 {
  background-image: url(../img/spritesheet.png);
  background-position: -358px -257px;
  width: 22px;
  height: 22px;
}
.icon-full {
  background-image: url(../img/spritesheet.png);
  background-position: -66px -292px;
  width: 55px;
  height: 44px;
}
.icon-full480 {
  background-image: url(../img/spritesheet.png);
  background-position: -329px -257px;
  width: 27px;
  height: 22px;
}
.icon-limit {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -292px;
  width: 64px;
  height: 63px;
}
.icon-limit480 {
  background-image: url(../img/spritesheet.png);
  background-position: -243px -292px;
  width: 32px;
  height: 32px;
}
.icon-logo {
  background-image: url(../img/spritesheet.png);
  background-position: -227px -194px;
  width: 201px;
  height: 61px;
}
.icon-logo480 {
  background-image: url(../img/spritesheet.png);
  background-position: -227px -257px;
  width: 100px;
  height: 30px;
}
.icon-play {
  background-image: url(../img/spritesheet.png);
  background-position: -47px -357px;
  width: 41px;
  height: 44px;
}
.icon-play480 {
  background-image: url(../img/spritesheet.png);
  background-position: -430px -219px;
  width: 20px;
  height: 21px;
}
.icon-share {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -404px;
  width: 41px;
  height: 47px;
}
.icon-share480 {
  background-image: url(../img/spritesheet.png);
  background-position: -430px -194px;
  width: 20px;
  height: 23px;
}
.icon-volume {
  background-image: url(../img/spritesheet.png);
  background-position: -123px -292px;
  width: 44px;
  height: 43px;
}
.icon-volume480 {
  background-image: url(../img/spritesheet.png);
  background-position: -382px -257px;
  width: 22px;
  height: 22px;
}
