html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
strong {
  font-weight: bold;
}
input,
textarea,
select {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  max-width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix {
  overflow: hidden;
  *zoom: 1;
}
.clearfix-x:before,
.clearfix-x:after {
  content: " ";
  display: table;
  width: 100%;
}
/* IE6/7 support */
.clearfix-x {
  *zoom: 1;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('../font/openSansLight/g8l8sink-webfont.eot');
  src: url('../font/openSansLight/g8l8sink-webfont.eot?#iefix') format('embedded-opentype'), url('../font/openSansLight/g8l8sink-webfont.woff2') format('woff2'), url('../font/openSansLight/g8l8sink-webfont.woff') format('woff'), url('../font/openSansLight/g8l8sink-webfont.ttf') format('truetype'), url('../font/openSansLight/g8l8sink-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url('../font/openSansSemibold/ou92jmyj-webfont.eot');
  src: url('../font/openSansSemibold/ou92jmyj-webfont.eot?#iefix') format('embedded-opentype'), url('../font/openSansSemibold/ou92jmyj-webfont.woff2') format('woff2'), url('../font/openSansSemibold/ou92jmyj-webfont.woff') format('woff'), url('../font/openSansSemibold/ou92jmyj-webfont.ttf') format('truetype'), url('../font/openSansSemibold/ou92jmyj-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_novaextrabold";
  src: url("../font/proximaNovaBold/ProximaNovaBold.eot");
  src: url("../font/proximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../font/proximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../font/proximaNovaBold/ProximaNovaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.open_sans_light {
  font-family: 'open_sanslight';
}
.open_sans_semibold {
  font-family: 'open_sanssemibold';
}
.proxima_nova_extrabold {
  font-family: 'proxima_novaextrabold';
}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.middle:after {
  content: '';
  width: 0px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.justify {
  text-align: justify;
}
.justify:after {
  content: '';
  width: 100%;
  display: inline-block;
  height: 0;
}
.checkbox {
  vertical-align: middle;
  margin: 0 10px 0 0;
  width: 15px;
  height: 15px;
}
.checkbox + label {
  cursor: pointer;
  vertical-align: middle;
}
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative;
  padding: 2px 0 0 30px;
  display: block;
}
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/checkbox.png") no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}
.checkbox:checked + label:before {
  background-image: url("../img/checkbox-active.png");
}
body {
  font-family: 'Roboto', sans-serif;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  background: #2f2f2f;
  color: white;
  font-size: 16px;
  line-height: 16px;
}
header {
  background: #363636;
  background: -webkit-linear-gradient(top, #363636 0%, #363636 49%, #2f2f2f 51%, #2f2f2f 100%);
  background: linear-gradient(to bottom, #363636 0%, #363636 49%, #2f2f2f 51%, #2f2f2f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#363636', endColorstr='#2f2f2f', GradientType=0);
  padding: 10px 0;
  text-align: center;
}
a {
  color: white;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
}
.icon-clock {
  background-image: url("../img/clock.png");
  width: 22px;
  height: 22px;
}
.icon-share {
  background-image: url("../img/share.png");
  width: 20px;
  height: 23px;
}
.icon-play-b {
  background-image: url("../img/play-b.png");
  width: 42px;
  height: 56px;
}
.icon-play {
  background-image: url("../img/play.png");
  width: 20px;
  height: 22px;
}
.icon-volume {
  background-image: url("../img/volume.png");
  width: 22px;
  height: 22px;
}
.icon-full {
  background-image: url("../img/full.png");
  width: 27px;
  height: 22px;
}
.inside {
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}
.age-limit {
  width: 40px;
  height: 40px;
  line-height: 41px;
  background: url("../img/age.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 20px;
}
.logo {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 300;
}
.logo span {
  display: inline-block;
  background: white;
  padding: 8px;
  color: #ff002a;
  font-weight: 700;
  border-radius: 8px;
}
.player-b {
  position: relative;
}
.p-t-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#80000000', GradientType=0);
}
.p-t-panel__icons {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 6px 0;
}
.p-t-panel__icons .icon {
  margin: 0 15px 0 0;
}
.p-t-panel__icons .icon:last-child {
  margin: 0;
}
.p-video-b {
  height: 300px;
  background: url("../img/video-back.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  padding: 40px 0 0 0;
}
.p-video-b:after {
  content: '';
  width: 0px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.p-video-b.active {
  background-image: url("../img/video-back-active.jpg");
}
.p-video-b__text {
  color: #bababa;
  padding: 10px 0 15px;
}
.p-video-b__nav {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
  width: -webkit-calc(100% - 5px);
  width: calc(100% - 5px);
}
.p-video-b.active .p-video-b__nav {
  display: none;
}
.play {
  display: inline-block;
  background: #d60e1a;
  padding: 15px 30px 13px;
  border-radius: 20px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}
.play .icon {
  margin: -4px 0 0 20px;
}
.button {
  display: inline-block;
  font-weight: 300;
  background: black;
  border: 2px solid #929597;
  border-radius: 10px;
  padding: 0 15px;
  line-height: 30px;
}
.p-b-panel {
  background: black;
  padding: 10px;
}
.p-b-panel__item {
  margin: 0 5px;
}
.p-b-panel__item:last-child {
  float: right;
}
.progressbar {
  background: #626262;
  height: 4px;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 0 10px 0;
}
.progressbar > div {
  width: 25%;
  height: 100%;
  background: #f20425;
}
.time-progress {
  display: inline-block;
  vertical-align: middle;
  color: #bababa;
}
.time-progress span {
  color: white;
}
footer {
  padding: 10px 0;
  color: #a4a4a4;
}
footer .inside {
  padding: 0 10px;
}
.f-check-b {
  margin: 0 0 10px 0;
}
.f-text {
  text-align: center;
}
